@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root {
    --primarycolor:#FF5E15;
    --secondarycolor:#333;
}
img {
    width:100%;
    height:100%;
}
body {
    font-family: 'Roboto', sans-serif;
}
section {
    width:80%;
    margin:0 auto;
    padding:80px 0;
}
.orange-text {
    color:var(--primarycolor);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.orange-text-left {
    color:var(--primarycolor);
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.center {
    color:var(--secondarycolor);
    font-size: 25px;
    text-align: center;
    width:50%;
    margin:0 auto;
    text-transform: capitalize;
    line-height: 30px;
}
.center-left {
    color:#fff;
    font-size: 25px;
    text-align: left;
    width:100%;
    margin:0 auto;
    text-transform: capitalize;
    line-height: 30px;
}
/* **********topbar************ */
.topbar {
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:120px;
}
.topbar .topbar-right {
    display:flex;
}
.topbar .topbar-logo {
    font-size: 20px;
    color:var(--secondarycolor);
    text-transform: uppercase;
}
.topbar-right-inner {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
}
.topbar-right-inner i {
    font-size: 35px;
    color:var(--primarycolor);
    margin-right: 10px;
}
.topbar-right-inner h2 {
    color:var(--secondarycolor);
    font-size: 20px;
    font-weight: 500;
}
.topbar-right-inner p {
    color:#888;
    line-height: 30px;
}
.topbar .open {
    display:none;
}
/* ************topnav********** */
.topnav {
    background:var(--primarycolor);
    width:100%;
}
.topnav nav {
    width:80%;
    margin:0 auto;
    display:flex;
    align-items: center;
    height:80px;
}
.topnav ul {
    list-style-type: none;
}
.topnav ul li {
    display:inline-block;
}
.topnav ul li a {
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding-right:25px;
    transition:.3s ease-in-out;
}
.topnav ul li a:hover {
    color:var(--secondarycolor);
}
.topnav .close {
    display:none;
}
.sticky {
    position:fixed;
    top:0;
    z-index: 9999;
    width:100%;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
}
/* ********header***************** */
header {
    background: url("https://images.pexels.com/photos/7961889/pexels-photo-7961889.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    width:100%;
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
header::before {
    content:"";
    display:block;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.6);
}
header .text {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#fff;
    font-size: 35px;
    letter-spacing: 2px;
    width:100%;
    text-align: center;
}
/* .*************icon-section*********** */
.icon-section {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 60px 0;
}
.icon-section-inner {
    border :1px solid #888;
    padding:30px 20px 40px 20px;
    position:relative;
}
.icon-section-inner:nth-of-type(2) {
    border-left:none;
}
.icon-section-inner:nth-of-type(3) {
    border-left:none;
}
.icon-section-inner:nth-of-type(4) {
    border-left:none;
}
.icon-section-inner span {
    position:absolute;
    color:#888;
    right:10px;
    top:10px;
}
.icon-section-inner i {
    font-size: 35px;
    margin-bottom: 15px;
}
.icon-section-inner h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}
.icon-section-inner p {
    color:#888;
    line-height: 25px;
    font-size: 14px;
}
/* .**********full section************ */
.full {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    color:#fff;
    line-height: 30px;
}
.full-inner {
    margin-left: 30px;
}
.full-inner-icon {
    display:flex;
    align-items: center;
    text-align: left;
    margin-top: 30px;
}
.full-inner-icon i {
    color:var(--primarycolor);
    font-size: 40px;
    margin-right: 40px;
}
.full-inner-image {
    background: url("https://images.pexels.com/photos/3862365/pexels-photo-3862365.jpeg?auto=compress&cs=tinysrgb&w=600");
    width:100%;
    height:540px;
    background-size: cover;
    margin-top: -120px;
}
/* *************testimonial******* */
.testimonial-inner {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
}
.testimonial-inner-section {
    margin-top: 60px;
}
.testimonial-inner-section img {
    width:120px;
    height:120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.testimonial-inner-section p {
    color:var(--secondarycolor);
    font-weight: 500;
    line-height: 30px;
}
.testimonial-inner-section .name {
    text-transform: uppercase;
    color:var(--primarycolor);
    margin-top: 15px;
}
/* **************full section with pictures only*********** */
.full-section-image {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    margin-top: 60px;
}
.image {
    overflow:hidden;
    position:relative;
    margin-bottom: -130px;
}
.image img:hover {
    transform: scale(1.1);
    transition:.5s ease-in-out;
}
.image .overlay {
    position:absolute;
    bottom:0;
    left:20px;
    opacity:0;
    transition:.5s ease-in-out;
}
.image:hover .overlay {
    opacity:1;
    bottom:20px;
}
/* **************blog************ */
.blog {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    margin-top: 60px;
}
.blog-inner h3 {
    font-size: 20px;
    margin: 15px 0;
    font-weight: 500;
}
.blog-inner p {
    color:#888;
    font-size: 14px;
}
.blog-inner p span {
    color:var(--primarycolor);
}
.blog-image {
    overflow:hidden;
}
.blog-image img:hover {
    transform: scale(1.1);
    transition:.5s ease-in-out;
    cursor:pointer;
}
/* *************form section************ */
.form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    color:#fff;
}
.form-left h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.form-left p {
    line-height: 30px;
}
.form-right form {
    display:flex;
    margin-top: 30px;
}
.form-right form input {
    background:transparent;
    width:70%;
    border:2px solid #fff;
    padding:12px;
}
.form-right form .btn {
    background:#000;
    width:30%;
    padding:12px 15px;
    color:#fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor:pointer;
    text-align: center;
    font-weight: 600;
}
/* ************footer************** */
.footer {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    color:#fff;
}
.footer-inner h3 {
    font-size: 20px;
    font-weight: 400;
}
.footer-inner h3::after {
    content:"";
    display:block;
    width:20%;
    height:2px;
    background:var(--primarycolor);
    margin-bottom: 30px;
}
.footer-inner ul {
    list-style-type: none;
}
.footer-inner ul li {
    display:block;
    margin-bottom: 15px;
}
.footer-inner ul li a {
    color:#fff;
    font-size: 14px;
    text-decoration: none;
    transition: .3s ease-in-out;
}
.footer-inner ul li a:hover {
    color:var(--primarycolor);
    text-decoration: underline;
    padding-left: 5px;
}
.footer-inner h2 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer-inner p {
    line-height: 25px;
    font-size: 14px;
}
.footer-inner .footer-btn {
    background: transparent;
    color:#fff;
    font-size: 14px;
    margin-top: 20px;
    cursor:pointer;
    transition: .3s ease-in-out;
    border:none;
}
.footer-inner .footer-btn:hover {
    color:var(--primarycolor);
    text-decoration: underline;
    padding-left: 5px;
}
footer .last {
    color:#fff;
    text-align: center;
    padding-bottom: 60px;
}

/* ****************about us page************ */
/* ****************about us page************ */

/* ***************team section*************** */
.team {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    margin-top: 80px;
}
.team .team-inner {
    position:relative;
}
.team .team-inner .team-image {
     width:100%;
     min-height: 300px;
     
     overflow:hidden;
     position:relative;
}
.team .team-inner .team-image img {
    object-fit: cover;
    min-height: 300px;
}
.team .team-inner .team-image img:hover {
    transform: scale(1.1);
    transition:.5s ease-in-out;
    cursor:pointer;
}
.team .team-inner .team-icon {
    position:absolute;
    top:30%;
    
}
.team .team-inner .team-icon i {
    display:block;
    background:#fff;
    margin:5px 10px;
    padding:10px;
    color:var(--primarycolor);
    cursor:pointer;
    text-align: center;
    transition:.3s ease-in-out;
}
.team .team-inner .team-icon i:hover {
    background:#000;
    color:#fff;
}
.team .team-inner h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin:20px 0 10px 0;
}
.team .team-inner .team-text {
    color:var(--primarycolor);
    text-align: center;
}
/* ************project page********** */
/* ************project page********** */
.project-inner {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
}
.project-image {
    overflow:hidden;
    position:relative;
}
.project-image img {
    object-fit: cover;
    width:100%;
    min-height:400px;
}
.project-image img:hover {
    transform: scale(1.1);
    transition:.5s ease-in-out;
}
.project-image .overlay {
    position:absolute;
    bottom:0;
    left:20px;
    opacity:0;
    transition:.5s ease-in-out;
}
.project-image:hover .overlay {
    opacity:1;
    bottom:20px;
}
/* *****************contact page************* */
.contact-form-inner {
    display:flex;
    width:100%;

}
.contact-form-inner > div {
    width:100%;
}

.contact-form > div input{
    width:98%;
    padding:12px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 10px;
    border:1px solid #888;
    border-radius: 4px;
}
.contact-form > div textarea{
    width:99%;
    padding:12px;
    margin-bottom: 15px;
    margin-top: 10px;
    border:1px solid #888;
    border-radius: 4px;
}
.contact-form {
    width:100%;
    color:#888;
}
 .contact-btn{
    background:var(--primarycolor);
    color:#fff;
    border:none;
    padding:14px 20px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor:pointer;
}
.contact-btn:hover {
    filter: brightness(0.6);
}